.contactSection {
    background-color: #dffffe;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTitle {
    margin-bottom:15px;
    font-size: 25px;
    font-weight: 600;
    color: #008074;
    text-align: center;
}

.formSection {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 30px 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.sendButton {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #008074;
    color: white;
    border: none;
    border-radius: 5px;
}